*.pyc
*.png
*.eps
*.blockdat
*.blockhead
*.docx
*.npy
*.ransdat
*.ranshead
*.bindata
*.header
*.idea
*.rprof
DATA_D
fine_structure_of_cr_zones_in_stars
full_turbulence_field_hypothesis
hydrodynamic_stellar_structure_equations