*.pyc
*.png
*.eps
*.blockdat
*.blockhead
*.docx
*.npy
*.ransdat
*.ranshead
*.bindata
*.header
*.idea
*.rprof
DATA_D
fine_structure_of_cr_zones_in_stars
full_turbulence_field_hypothesis
hydrodynamic_stellar_structure_equations
hydrodynamic_nucleosynthesis_of_dual_core_flash
modeling_of_turbulent_composition_flux_in_stars
growth_of_convection_zone_in_stars
evol_of_turb_fluxes_in_stars
ransX
transport_of_density_in_stars
transport_of_energy_in_stars
transport_of_momentum_in_stars
venv