<!doctype html>
<html>

<div><b>Quick Introduction</b></div>
<br>

Interactive Web Studio for rans(eXtreme) is controlled by 3 dropdowns allowing you to select RANS equation you are
interested in
calculated from several 2D/3D simulations of core convection in stars at various resolutions done by the hydrodynamic code PROMPI. <br>

<br>
Its operation is based on 4 simple steps:

<ol>
    <li>choose 2D/3D simulation from Model</li>
    <li>choose available resolution from Resolution</li>
    <li>choose RANS equation of interest from Equation </li>
    <li>click Submit</li>
</ol>

When you hover your mouse over the plots, pay attention to lower left corner for three symbols allowing you to zoom in as if you worked with python's matplotlib plots.
<br>
<br>

To obtain publication quality figures with better axis and legend labels, use original <a href="https://github.com/mmicromegas/ransX">ransX.</a>
<br>

<p><a href="https://github.com/mmicromegas/ransX/blob/master/DOCS/RANDOM/oburnX/netCOMPAREfinal.txt">Nuclear networks used for simulations can be found on this link.</a></p>

<div><b>Relevant Papers:</b></div>

  <p id="top"> <a href="https://ui.adsabs.harvard.edu/link_gateway/2018MNRAS.481.2918M/EPRINT_PDF">Turbulent mixing and
        nuclear burning in stellar interiors</a></p>
<p id="top"> <a href="https://ui.adsabs.harvard.edu/link_gateway/2014arXiv1401.5176M/EPRINT_PDF">Compressible
        Hydrodynamic Mean-Field Equations in Spherical Geometry and their Application to Turbulent Stellar Convection
        Data </a> </p>

</html>


<div><b>Author:</b> mmicromegas</div>